// Colors
// ===============================================

$bg-main: #d7d7e4;
$bg-light: #ffffff;
$bg-dark: #252f4f;
$primary: #252f4f;
$secondary: #e81818;

$button-color: #ffffff;
$button-background: #7b95f9;
$button-color-hover: #ffffff;
$button-background-hover: #6c7fef;

$text-primary: #303030;
$text-secondary: #a3a3a3;
$text-link: #0067c5;
$text-link-hover: #005aac;
$text-accent: #cf000f;

$feedback-success: #129134;
$feedback-warning: #fbd400;
$feedback-alert: #d50430;
$feedback-info: #1a3386;

$white: #ffffff;
$black: #0a0a0a;

$gray-70: #efefef;
$gray-60: #dddedc;
$gray-50: #bfbebe;
$gray-40: #a3a3a3;
$gray-30: #3c3b3b;
$gray-20: #262626;
$gray-10: #111111;
