// Colors
// ===============================================

$bg-main: post_color('bg_main');
$bg-light: post_color('bg_light');
$bg-dark: post_color('bg_dark');
$primary: post_color('primary');
$secondary: post_color('secondary');

$button-color: post_color('button_color');
$button-background: post_color('button_background');
$button-color-hover: post_color('button_color_hover');
$button-background-hover: post_color('button_background_hover');

$text-primary: post_color('text_primary');
$text-secondary: post_color('text_secondary');
$text-link: #303030;
$text-link-hover: #303030;
$text-accent: #474747;

$feedback-success: post_color('feedback_success');
$feedback-warning: post_color('feedback_warning');
$feedback-alert: post_color('feedback_alert');
$feedback-info: post_color('feedback_info');

$white: post_color('white');
$black: post_color('black');

$gray-70: post_color('gray_70');
$gray-60: post_color('gray_60');
$gray-50: post_color('gray_50');
$gray-40: post_color('gray_40');
$gray-30: post_color('gray_30');
$gray-20: post_color('gray_20');
$gray-10: post_color('gray_10');
