/* ===================================================== */
/* Dev Notes */
/* ===================================================== */

.app-DevNotes {
  display: none;

  @include breakpoint(xlarge) {
    display: block;
    position: absolute;
    top: rem-calc(160);
    left: 50%;
    transform: translateX($global-width / 2) translateZ(0);
    width: rem-calc(380);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &-container {
    padding: rem-calc(20);
    font-family: $font-family-monospace;
  }

  &-title {
    font-size: rem-calc(16);
    font-weight: $global-weight-bold;
    font-family: $font-family-monospace;
  }

  &-notes {
    font-size: rem-calc(14);
  }
}
