/* ===================================================== */
/* Edit Note */
/* ===================================================== */

.app-EditNote {
  $_top: &;

  &-label {
    font-family: $body-font-family;
    font-size: rem-calc(15);
    font-weight: $global-weight-bold;
  }
}
