/* ===================================================== */
/* Footer */
/* ===================================================== */

.app-Footer {
  $_top: &;

  width: 100%;
  margin: rem-calc(20) auto;
  padding: 0 rem-calc(10);

  &-container {
    width: 100%;
    max-width: $global-width;
    margin: 0 auto;
    padding: rem-calc(15);
    background-color: $bg-light;
    border-radius: $global-border-radius;
  }

  &-content {
    text-align: center;
  }
}
