/* ===================================================== */
/* Layout */
/* ===================================================== */

body {
  background-color: $bg-main;
}

.app-Layout {
  $_top: &;

  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
  height: 100vh;
}
