/* ===================================================== */
/* Summary */
/* ===================================================== */

.app-Summary {
  $_top: &;

  &-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    align-items: flex-start;
  }

  &-item {
    flex: 0 1 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: flex-start;
    position: relative;
    margin: rem-calc(10) 0;
    padding: rem-calc(10);

    &[data-name="note"] {
      flex: 0 0 100%;
    }
  }

  &-itemIcon {
    flex: 0 0 rem-calc(64);
  }

  &-itemDetails {
    flex: 1 1 100%;
    padding-left: rem-calc(15);
  }

  &-itemType {
    font-size: rem-calc(10);
  }

  &-itemTitle {
    font-size: rem-calc(14);
    font-weight: 700;
  }

  &-itemSubtitle {
    margin: 0.5em 0 0 0;
    font-size: rem-calc(10);
  }
}
